<div class="container">
	<h1>FORMULARIO DE RECLAMO</h1>

	<form class="form" [formGroup]="formGroup">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Nombres:</label>
			<input type="text" class="form-control" formControlName="names" />
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Reclamo:</label>
			<textarea class="form-control" rows="3" formControlName="claim"></textarea>
		</div>

		<button type="button" class="btn btn-success" (click)="clickSend()">ENVIAR</button>
	</form>
	{{ formDataInStorage | json }}
</div>
